.idea
*.iml
target
model-generator/src/main/kotlin/com/juicelabs/fhir/model/*.kt
model-generator/src/test/kotlin/com/juicelabs/fhir/model/*.kt
model-generator/src/test/resources/model/sample_data
model-generator/download
